<form method="post" action="/play" id="compare">
	<div class="user left">
		<label for="user1">@</label><input class="text" type="text" name="user1" placeholder="<%= current_user.handle %>">
	</div>
	<em>&amp;&amp;</em>
	<div class="user right">
		<label for="user2">@</label><input class="text" type="text" name="user2">
	</div>
	<input class="submit" type="submit" value="compare">
</form>